<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/style.css">
    <title>DataCon</title>
</head>
<body>

    <div id="master">
        <div id="leftbar">
            <div class="leftitems" id="chats">
                <h2 style="background-color: rgb(60, 63, 65);padding: 5px;border-radius: 5px;">Chats</h2>
            </div>
            <div class="leftitems" id="deliverables">
                <h2 style="background-color: rgb(60, 63, 65);padding: 5px;border-radius: 5px;">deliverables</h2>
            </div>
        </div>
        <div id="rightbar">
            <div id="profile">
                <div style="background-color: rgb(25, 25, 122);padding: 10px;border-radius: 5px;">DataCon</div>
            </div>
            <div id="conversation"></div>
            <div id="chatmenu">
                <div id="attach">➕</div>
                <div id="chatbox">
                    <input type="text" id="prompt" placeholder="enter the prompt...">
                </div>
                <div id="send" >
                    <img src="../src/assets/send.webp" alt="send" style="border-radius: 50px;width: 50px;height: 50px;">
                </div>
            </div>
        </div>
    </div>

   

    <script src="../src/index.js"></script>
</body>
</html>